
<!-- include header -->
<%- include('partials/_header.ejs') %>
<!-- include header -->

    <div class="body-wrap">
        <!-- LOGO -->
        <header class= "header-main">
            <div class="container">
                <a href="/" class="logo"><img class="logo__img" src="img/bird_alone_icon.png" alt="logo-img"></a>
            </div>
        </header>
        <!-- SECTION: RECIPE HERO -->
        <div class="recipe-page-main" role="main">
            <div class="container recipe-main-container owl-container " id="main-content">
                <section class="section-recipe recipe-main row">
                    <div class="cb-hero-image col-md-7">
                        <div class="cb-hero-image__hldr">
                            <img src="<%=recipe.image%>" alt="<%=recipe.title%>" class="img-max-recipe">
                        </div>
                    </div>
                    <!-- description bar -->
                    <div class="col-sm-12 col-md-5 description-bar">
                        <!-- title -->
                        <div class="cb-recipe-title p-15">
                            <h1 class="cb-recipe-title__main"><%=recipe.title%></h1>

                            <div class="cb-recipe--details">
                                <div class="cd-recipe--details cb-recipe-subtitle__cook-time">
                                    <i class="far fa-clock"></i>
                                    <span class="total-time"><%=recipe.cookingTime%> MIN</span>
                                </div>
                            </div>
                        </div>

                        <!-- servings and pricing-->
                        <div class="cb-recipe-details">
                            <span class="cb-recipe--detail cb-recipe-details__servings" itemprop="recipeYield"><%=recipe.servings%> Servings</span>
                        </div>

                        <!-- Recipe description -->
                        <div class="recipe-main__description p-15">
                            <h4 class="recipe-main__description-title">From the kitchen</h4>
                            <p class="recipe-description-text" itemprop="description"><%-recipe.summary%></p>
                        </div>

                        <!-- Nutrition Information -->
                        <div class="nutrition-container p-15">
                            <ul class="nutrition-list">
                                <li class="nutrition-list--item nutrition-list--item__heading">
                                    <div class="item-title">Nutrition</div>
                                    <div class="item-value">SCORES</div>
                                </li>
                                <li class="nutrition-list--item">
                                    <div class="item-title">Health Score</div>
                                    <div class="item-value"><%=recipe.healthScore%></div>
                                </li>
                            </ul>
                            <!-- Full Nutrition button -->
                            <div class="view-full-nutrition js-NutritionCalories">
                                <button class="view-full-nutrition-link"><a  href="/<%=recipe.id%>/nutrition">View Full Nutrition
                                </a></button>
                            </div>
                        </div>
                        <!-- Wine pairing -->
                        <%if(recipe.winePairing){%>
                            <div class="js-WinePairing">
                                <section class="recipe-wine">
                                    <h3 class="recipe-wine--title">cook bird wine pairing</h3>
                                    <div class="recipe-wine__content">
                                        <!-- Carousel  -->
                                        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <%recipe.winePairing.forEach(wine=>{%>
                                                <div class="carousel-item active">
                                                    <div class="recipe-wine--content p-15">
                                                        <a class="recipe-wine__container" href="<%=wine.link%>">
                                                            <div class="recipe-wine-bottle">
                                                                <img class="img-max d-block w-100 recipe-wine-img" src="<%=wine.imageUrl%>" class="d-block w-100" alt="<%=wine.title%>">
                                                            </div>
                                                            <div class="recipe-wine-text">
                                                                <h4 class="mb-2">
                                                                    <span class="recipe-wine-text--title"><%=wine.title%></span>
                                                                    <span class="recipe-wine-text--price"><%=wine.price%></span>
                                                                </h4>
                                                                <p class="recipe-wine-text--description recipe-wine-text--description--hidden"><%=wine.description%></p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <%})%>
                                            </div>
                                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        <%}%>
                    </div>
                </section>
                
                <!-- SECTION: INGREDIENTS -->
                <section class="section-recipe recipe-tips p-15">
                    <div class="cb-section-title row">
                        <div class="col-xs-7">
                            <div class="cb-section-title__super">fresh</div>
                            <div class="cb-section-title__main">ingredients</div>
                        </div>
                    </div>
                    <div class="rec-area-content">
                        <div class="row">
                            <div class="cb-feature-image ingredients-img-hldr col-md-8">
                                <div class="cb-feature-image__hldr">

                                    <%recipe.ingredientsImg.forEach(image=>{%>
                                        <%if(image){%>
                                            <img class="img-ingredients" src="<%=image%>"   alt="ingredient-img">
                                        <%}%> 
                                    <%})%>

                                </div>
                            </div>
                            <ul class="cb-info-list cb-info-list--stacked col-md-4">

                                <%recipe.ingredients.forEach(ing=>{%>
                                    <li class="cb-info-list__item" itemprop="recipeIngredient">
                                        <div class="non-story">
                                            <span class="cb-info-list__amount"><%=ing.amount?ing.amount.toFixed(2):''%>
                                            <%=ing.unit?ing.unit:''%></span>
                                            <%=ing.name?ing.name:''%>
                                        </div>
                                    </li>
                                <%})%>

                            </ul>
                        </div>
                    </div>
                </section>
                <!-- SECTION: INSTRUCTION -->
                <section class="section-recipe recipe-instructions p-15">
                    <div class="cb-section-title row">
                        <div class="col-xs-8">
                            <div class="cb-section-title__super">step-by-step</div>
                            <div class="cb-section-title__main">instruction</div>
                        </div>
                    </div>

                    <div class="steps row">
                        <%if(recipe.instructionsAnalize){%>
                            <% recipe.instructionsAnalize.forEach(steps=>{%>
                                <%if(steps){%>
                                    <div class="col-md-6 col-xs-12 singleStep">
                                        <div class="recipeInstructions">
                                            <div class="step-title-holder">
                                                <span class="step-number"><%=steps.number%></span>
                                                <span class="step-title">step</span>
                                            </div>
                                            <div class="step-txt">
                                                <p><%=steps.step%></p>
                                            </div>
                                        </div>
                                    </div>
                                <%}%>
                            <%})%>
                        <%}else{%>
                            <div class="col-md-6 col-xs-12 singleStep">
                                <div class="recipeInstructions">
                                    <div class="step-txt">
                                        <p>There is no instruction for this recipe</p>
                                    </div>
                                </div>
                            </div>
                        <%}%>
                    </div>
                    <!-- <div class="instruction row">
                        <div class="container col-md-10">
                            <div class="instruction__description p-15" itemprop="recipeInstruction">
                                <p><%-recipe.instruction?recipe.instruction:''%></p>
                            </div>
                        </div>
                    </div> -->
                    <!-- source URL -->
                    <%if(recipe.originSourceUrl){%>
                        <div class="col xs-4 about-btn">
                            <a target="_blank" href="<%=recipe.originSourceUrl%>" class="js-StepLaunch about-btn__content">
                                <span>source url</span>
                                <span><i class="fas fa-angle-right step-link-arrow"></i></span>
                            </a>
                        </div>
                    <%}%>

                </section>
            </div>
            <div class="back-top" data-role="scroll-top">
                <i class="fas fa-chevron-circle-up btn-up"></i>
            </div>
        </div>
    </div>

<!-- include footer -->
<%- include('partials/_footerAbout.ejs') %>
<!-- include footer -->
