
<!-- include header -->
<%- include('partials/_header.ejs') %>
<!-- include header -->

    <!-- LOGO -->
    <header class= "header-main">
        <div class="container">
            <a href="/" class="logo">Logo</a>
        </div>
    </header>
    <!-- SECTION: MAIN -->
    <div class="main">
        <div class="cookbird-page">
            <!-- SECTION: SEARCH-BAR -->
            <section class="search-bar" >
                <div class="container">
                    <div class="row">
                        <!-- Logo title -->
                        <div class="col-md-3 hide-mobile mt-10 search-bar__icon">
                            <h1 class="cookBird-title"><a class=" cookbird-href" href="/">Cookbird</a></h1>
                        </div>

                        <!-- Options with click and Enter submit -->
                        <form method="GET" action="/"class="form-inline col-md-9 row">
                        <div class="col-md-9 col-xs-9">
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="search-btn" class="sr-only">Go</label>
                                <input class="search-input form-control js-search-value" type="text" placeholder="Search" name="search">
                            </div>
                        </div>
                        <!-- search button -->
                        <div class="col-md-1 col-xs-3">
                            <button type="submit" class="btn btn--small btn--full">Go</button>
                        </div>
                        </form>

                        <!-- TODO: Add Autocomplete -->
                    </div>
                </div>
            </section>
            <!-- MAIN PAGE CONTAINER -->
            <div class="container">
                <!-- contener to margin content -->
                <div class="container-in">
                    <div class="row">
                        <!-- SECTION: SEARCH SIDE BAR -->
                        <section class="col-md-3 col-sm-12 cookbird-side-bar">
                            <div class="filters">
                                <div class="accordion" id="filter-mealTypes">
                                    <div class="accordion-group">
                                        <h2 class="js-filter-group">
                                            Meal Types
                                            <button class="toggler expand"><i class="fas fa-chevron-circle-down"></i></button>
                                        </h2>
                                        <div class="accordion-body collapse-in" id="collapseOne">
                                            <div class="accordion-inner">
                                                <ul >
                                                    <li ><a href="/?search=main course">Main Course</a></li>
                                                    <li ><a href="/?search=breakfast">Breakfast</a></li>
                                                    <li ><a href="/?search=soup">Soup</a></li>
                                                    <li ><a href="/?search=salad">Salad</a></li>
                                                    <li ><a href="/?search=snack">Snack</a></li>
                                                    <li ><a href="/?search=dessert">Dessert</a></li>
                                                    <li ><a href="/?search=Beverage">Beverage</a></li>
                                                    <li class="cousine-more hide"><a href="/?search=appetizer">Appetizer</a></li>
                                                    <li class="cousine-more hide"><a href="/?search=marinade">Marinade</a></li>
                                                    <li class="cousine-more hide"><a href="/?search=drink">Drink</a></li>
                                                    <li class="cousine-more hide"><a href="/?search=bread">Bread</a></li>
                                                    <li class="cousine-more hide"><a href="/?search=sauce">Sauce</a></li>
                                                </ul>
                                                <a class="filter-more js-see-more-btn" data-tag="mealTypes" data-toggle="more">see more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion" id="filter-cuisine">
                                    <div class="accordion-group">
                                        <h2 class="js-filter-group">
                                            Cuisine
                                            <button class="toggler expand"><i class="fas fa-chevron-circle-down"></i></button>
                                        </h2>
                                        <div class="accordion-body collapse-in" id="collapseTwo">
                                            <div class="accordion-inner">
                                                <ul >
                                                    <li ><a href="/?search=american">American</a></li>
                                                    <li ><a href="/?search=asian">Asian</a></li>
                                                    <li ><a href="/?search=british">British</a></li>
                                                    <li ><a href="/?search=european">European</a></li>
                                                    <li ><a href="/?search=mediterranean">Mediterranean</a></li>
                                                    <li class="cousine-more hide"><a href="/?search=african">African</a></li>
                                                    <li class="cousine-more hide"><a href="/?search=indian">Indian</a></li>
                                                    <li class="cousine-more hide"><a href="/?search=italian">Italian</a></li>
                                                    <li class="cousine-more hide"><a href="/?search=spanish">Spanish</a></li>
                                                    <li class="cousine-more hide"><a href="/?search=french">French</a></li>
                                                    <li class="cousine-more hide"><a href="/?search=chinese">Chinese</a></li>
                                                    <li class="cousine-more hide"><a href="/?search=japanese">Japanese</a></li>
                                                    <li class="cousine-more hide"><a href="/?search=vietnamese">Vietnamese</a></li>
                                                    <li class="cousine-more hide"><a href="/?search=thai">Thai</a></li>
                                                </ul>
                                                <a class="filter-more js-see-more-btn" data-tag="cuisine" data-toggle="more">see more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion" id="filter-diets">
                                    <div class="accordion-group">
                                        <h2 class="js-filter-group">
                                            Diets
                                            <button class="toggler expand"><i class="fas fa-chevron-circle-down"></i></button>
                                        </h2>
                                        <div class="accordion-body collapse-in" id="collapseOne">
                                            <div class="accordion-inner">
                                                <ul >
                                                    <li ><a href="/?diet=gluten free">Gluten Free</a></li>
                                                    <li ><a href="/?diet=ketogenic">Ketogenic</a></li>
                                                    <li ><a href="/?diet=vegetarian">Vegetarian</a></li>
                                                    <li ><a href="/?diet=lacto-vegetarian">Lacto-Vegetarian</a></li>
                                                    <li ><a href="/?diet=ovo-vegetarian">Ovo-Vegetarian</a></li>
                                                    <li ><a href="/?diet=vegan">Vegan</a></li>
                                                    <li class="cousine-more hide"><a href="/?diet=pescetarian">Pescetarian</a></li>
                                                    <li class="cousine-more hide"><a href="/?diet=paleo">Paleo</a></li>
                                                    <li class="cousine-more hide"><a href="/?diet=primal">Primal</a></li>
                                                    <li class="cousine-more hide"><a href="/?diet=low fodmap">Low FODMAP</a></li>
                                                    <li class="cousine-more hide"><a href="/?diet=whole30">Whole30</a></li>
                                                </ul>
                                                <a class="filter-more js-see-more-btn" data-tag="diets" data-toggle="more">see more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion" id="filter-intolerances">
                                    <div class="accordion-group">
                                        <h2 class="js-filter-group">
                                            Intolerances
                                            <button class="toggler expand"><i class="fas fa-chevron-circle-down"></i></button>
                                        </h2>
                                        <div class="accordion-body collapse-in" id="collapseOne">
                                            <div class="accordion-inner">
                                                <ul>
                                                    <li ><a href="/?intolerances =dairy">Dairy</a></li>
                                                    <li ><a href="/?intolerances=egg">Egg</a></li>
                                                    <li ><a href="/?intolerances=gluten">Gluten</a></li>
                                                    <li ><a href="/?intolerances=grain">Grain</a></li>
                                                    <li ><a href="/?intolerances=peanut">Peanut</a></li>
                                                    <li ><a href="/?intolerances=seafood">Seafood</a></li>
                                                    <li class="cousine-more hide"><a href="/?intolerances=sesame">Sesame</a></li>
                                                    <li class="cousine-more hide"><a href="/?intolerances=shellfish">Shellfish</a></li>
                                                    <li class="cousine-more hide"><a href="/?intolerances=soy">Soy</a></li>
                                                    <li class="cousine-more hide"><a href="/?intolerances=sulfite">Sulfite</a></li>
                                                    <li class="cousine-more hide"><a href="/?intolerances=tree nut">Tree Nut</a></li>
                                                    <li class="cousine-more hide"><a href="/?intolerances=sulfite">Sulfite</a></li>
                                                    <li class="cousine-more hide"><a href="/?intolerances=wheat">Wheat</a></li>
                                                </ul>
                                                <a class="filter-more js-see-more-btn" data-tag="intolerances" data-toggle="more">see more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- SECTION: RECIPES CONTENT -->
                        <section class="col-md-9 col-sm-12" id="cookbird-thumbs">
                            <div class="row cookbird-thumbs-out">
 
                                    <%recipes.forEach(recipe=>{%>
                                        <div class="recipe-thumb col-lg-4 col-md-6 col-xs-12">
                                            <a class="recipe-anchor" href="/<%=recipe.id%>">
                                                <div class="recipe-img-link">
                                                    <figure>
                                                        <img src="<%=recipe.image%>" alt="<%=recipe.title%>">
                                                    </figure>
                                                </div>
                                                <h3><%=recipe.title%></h3>
                                            </a>
                                        </div>
                                    <%})%>


                                </div>
                            </div>
                            <!-- loading more recipes pointer -->
                            <div class="load-more text-center"></div>
                            <!-- more recipe loader button -->
                            <div class="load-wrap hide" id="js-cookbird-loader"></div>                  
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <!-- back-to top button -->
        <div class="back-top" data-role="scroll-top">
            <i class="fas fa-chevron-circle-up btn-up"></i>
        </div>
    </div>

<!-- include footer -->
<%- include('partials/_footer.ejs') %>
<!-- include footer -->
</body>
</html>